name: Daily

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *" # midnight, every day

env:
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build 
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - uses: actions-rs/toolchain@v1
      name: Install Rust
      with:
        toolchain: 1.89.0
        override: true

    - name: Build
      run: cargo build
    
    - name: Build (All features)
      run: cargo build --all-features

    - name: Tests
      run: cargo test --all-features
